* {
  border: none;
  font-family: Font Awesome, Noto Sans Display, Roboto, Arial, sans-serif;
  font-size: 13px;
  border-radius: 20px;
}

window {
	/*font-weight: bold;*/
  color: #ffffff;
}
window#waybar {
  background: rgba(0, 0, 0, 0);
}
/*-----module groups----*/
.modules-left {
  margin: 2px 0.6rem;
	background-color: rgba(0,119,179,0.6);
}
.modules-center {
  margin: 2px 0 ;
  padding: 0 16px;
	background-color: rgba(0,43,51,0.85);
}
.modules-right {
  margin: 2px 0.6rem;
	background-color: rgba(0,43,51,0.85);
}

#workspaces button {
  color: #ffffff;
  padding: 1px 5px;
  background-color: transparent;
  min-width: 48px;
}
#workspaces button:hover {
  box-shadow: inherit;
	background-color: rgba(0,153,153,1);
  color: black;
}
#workspaces button.focused {
	background-color: rgba(0,43,51,0.85);
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#custom-power,
#idle_inhibitor {
  padding: 0 10px;
}
#mode {
  color: #cc3436;
  font-weight: bold;
}
#custom-power {
  background-color: rgba(0,119,179,0.6);
  border-radius: 50px;
  margin: 5px 5px;
  padding: 1px 3px;
}
/*-----Indicators----*/
#idle_inhibitor.activated {
  color: #2dcc36;
}
#pulseaudio.muted {
  color: #cc3436;
}
#battery.charging {
  color: #2dcc36;
}
#battery.warning:not(.charging) {
	color: #e6e600;
}
#battery.critical:not(.charging) {
  color: #cc3436;
}
#temperature.critical {
  color: #cc3436;
}
/*-----Colors----*/
/*
 *rgba(0,85,102,1),#005566 --> Indigo(dye)
 *rgba(0,43,51,1),#002B33 --> Dark Green 
 *rgba(0,153,153,1),#009999 --> Persian Green 
 *
 */
